---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/yQ1G1yw/qrcode-images-na-ssl-images-amazon-com.png" alt="qrcode-images-na-ssl-images-amazon-com" border="0"></a><br><a target='_blank' href='https://imgbb.com/'>file image uploader</a><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus euismod quis viverra nibh cras. Condimentum vitae sapien pellentesque habitant morbi. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Leo vel orci porta non pulvinar neque. Urna molestie at elementum eu facilisis sed odio morbi quis. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Sed augue lacus viverra vitae congue eu consequat ac. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Eget dolor morbi non arcu. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Egestas dui id ornare arcu odio ut sem nulla. Volutpat maecenas volutpat blandit aliquam etiam. Vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus.
Nunc pulvinar sapien et ligula ullamcorper malesuada. Purus viverra accumsan in nisl nisi scelerisque. Nunc sed blandit libero volutpat sed cras ornare. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Amet aliquam id diam maecenas ultricies mi. At auctor urna nunc id cursus metus aliquam eleifend. Vel turpis nunc eget lorem. Faucibus nisl tincidunt eget nullam non nisi est sit. Risus at ultrices mi tempus imperdiet. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Sed risus ultricies tristique nulla aliquet enim tortor. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
In dictum non consectetur a. Metus dictum at tempor commodo. Ac turpis egestas sed tempus urna et pharetra. Dui accumsan sit amet nulla facilisi morbi tempus iaculis. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Blandit cursus risus at ultrices mi tempus imperdiet. Fringilla urna porttitor rhoncus dolor. Tellus integer feugiat scelerisque varius morbi enim nunc. Tortor id aliquet lectus proin nibh nisl condimentum id. Diam donec adipiscing tristique risus nec feugiat in fermentum. Mauris commodo quis imperdiet massa tincidunt nunc.
Et netus et malesuada fames ac. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. Sed vulputate mi sit amet mauris commodo quis imperdiet massa. Interdum velit laoreet id donec. Vitae justo eget magna fermentum. Imperdiet nulla malesuada pellentesque elit eget gravida cum. Lobortis elementum nibh tellus molestie. Tristique nulla aliquet enim tortor at auctor. Nunc id cursus metus aliquam eleifend mi. Placerat in egestas erat imperdiet sed euismod. Eu augue ut lectus arcu. Nisl pretium fusce id velit ut tortor pretium viverra. Accumsan tortor posuere ac ut consequat. Turpis egestas sed tempus urna et pharetra. A cras semper auctor neque. Amet purus gravida quis blandit turpis cursus in hac habitasse. Odio aenean sed adipiscing diam donec adipiscing tristique. Lorem mollis aliquam ut porttitor. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Scelerisque felis imperdiet proin fermentum leo vel orci.
Eget egestas purus viverra accumsan in. Lectus urna duis convallis convallis tellus id interdum velit. Placerat in egestas erat imperdiet sed euismod nisi. Cursus euismod quis viverra nibh cras pulvinar mattis. Id cursus metus aliquam eleifend mi in. Sed vulputate odio ut enim blandit volutpat maecenas. Laoreet suspendisse interdum consectetur libero id faucibus. Vitae turpis massa sed elementum tempus egestas sed sed risus. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Morbi tempus iaculis urna id volutpat.</p>